@import "bootstrap-sass/lib/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Corben);

html, body {
    height: 100%;
}
body {
    margin: 1em 1em 4em;
    font-family: 'Corben', sans-serif;
}
.application {
    margin: auto;
    width: 960px;
}

.event {
    fill: hsl(220, 80%, 60%);
    fill-opacity: 0.4;
}

.axis path, .axis line {
    stroke: hsl(220, 60%, 50%);
    stroke-width: 1;
    fill: none;
    shape-rendering: crispEdges;
    pointer-events: none;
}

